anyMesh.xcodeproj/project.xcworkspace/xcuserdata/Dave.xcuserdatad/UserInterfaceState.xcuserstate
anyMesh.xcodeproj/xcuserdata/Dave.xcuserdatad/xcschemes/anyMesh.xcscheme
anyMesh.xcodeproj/xcuserdata/Dave.xcuserdatad/xcschemes/xcschememanagement.plist
WorkspaceSettings.xcsettings
