anyMesh.xcodeproj/project.xcworkspace/xcuserdata/Dave.xcuserdatad/UserInterfaceState.xcuserstate
anyMesh.xcodeproj/xcuserdata/Dave.xcuserdatad/xcschemes/anyMesh.xcscheme
anyMesh.xcodeproj/xcuserdata/Dave.xcuserdatad/xcschemes/xcschememanagement.plist
WorkspaceSettings.xcsettings
anyMesh.xcodeproj/project.xcworkspace/xcshareddata/anyMesh.xccheckout
anyMesh.xcodeproj/project.xcworkspace/xcuserdata/dpaul.xcuserdatad/UserInterfaceState.xcuserstate
anyMesh.xcodeproj/xcuserdata/dpaul.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
anyMesh.xcodeproj/xcuserdata/dpaul.xcuserdatad/xcschemes/anyMesh.xcscheme
anyMesh.xcodeproj/xcuserdata/dpaul.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
*.xcscheme
*.xcuserstate
demo/anyMesh.xcodeproj/xcuserdata/Dave.xcuserdatad/xcschemes
demo/anyMesh.xcodeproj/project.xcworkspace/xcshareddata
demo/anyMesh.xcodeproj/xcuserdata/dpaul.xcuserdatad
demo/anyMesh/UIView-AutoLayout-master/Example/Example.xcodeproj/xcuserdata/dpaul.xcuserdatad
demo/anyMesh/UIView-AutoLayout-master/Tests/AutoLayout.xcodeproj/xcuserdata/dpaul.xcuserdatad
